* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", "Figtree", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    background: #ffffff;
    color: #000;
}

/* NAVBAR */

.navbar {
    background: #fffaf5;
}

.main{
    display: none;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
    align-items: center;
}

.navbar-right {
    display: flex;
    gap: 12px;
}

.logo-image {
    max-width: 120px;
    height: auto;
}

.navbar-button {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    padding: 4px 24px;
    border-radius: 50px;
    border-width: 1px;
    border-style: solid;
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.book-appointment-btn {
    background: #f8943f;
    border-color: #de6f0d;
    color: #ffffff;
}

.book-appointment-btn-navbar {
    background: #f8943f;
    border-color: #de6f0d;
    color: #ffffff;
}

.call-back-btn {
    background: #ffffff;
    border-color: #462512;
    color: #000;
}

/* HERO */

.hero-section {
    background: #fffaf5;
    display: flex;
    flex-direction: column;
    min-height: 60vh;
}

.bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(208, 208, 208, 0.65);
    /* Netflix style but light color */
    z-index: 1;
    opacity: 0.69;
}

.bg-overlay-mobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(208, 208, 208, 0.65);
    /* Netflix style but light color */
    z-index: 1;
}

.hero-text-content-container,
.hero-image-container,
.hero-man-image {
    position: relative;
    z-index: 2;
    /* overlay ke upar */
}


.upper-hero-container {
    display: flex;
    height: 80%;
}

.hero-content {
    position: relative;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-image: url("../assets/bg-image.jpg");
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(15px);

    overflow: hidden;
}
.right-image1{
    height: 25px;
    width: 52px;
    z-index: 1;
    opacity: 1;
}
.right-image2{
    height: 15px;
    width: 65px;
    z-index: 1;
    opacity: 1;
}
.right-image3{
    height: 25px;
    width: 46px;
    z-index: 1;
    opacity: 1;
}

.halft-wodth{
    width: 70%;
}

.mobile-hero-image{
    height: 450px;
    width: 230px;
    transform: scaleX(-1);
    right: 0px;
    position: absolute;
    bottom: 0px;
}

.hero-text-content-container-mobile {
    width: 90%;
    gap: 20px;
    display: flex;
    flex-direction: row;

    position: absolute;
    top: 100px;

    /* Correct gradient OR use solid RGBA */
    background: rgba(255, 255, 255, 0.45);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(6px);

}   

.hero-text-container-mobile{
    padding: 10px 20px;
}
.hero-content-mobile {
    position: relative;
    width: 100%;
    display: none;
    height: 400px;
    border: solid 1px red;
    align-items: center;
    justify-content: space-between;

    background-image: url("../assets/bg-image.jpg");
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(5px);

    overflow: hidden;
}

.right-corner{
    width: 210px;
    height: 45.98px;
    opacity: 1;

    position: absolute;
    top: 0.02px;
    right: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6.21px;

    padding: 9.94px 19.88px;
    border-bottom-left-radius: 12.7px;

    /* Gradient */
    background: linear-gradient(93.35deg,
                rgba(255, 255, 255, 0.5) 0%,
                rgba(255, 255, 255, 0.5) 100%);

    /* Blur */
    backdrop-filter: blur(2.48px);
    -webkit-backdrop-filter: blur(2.48px);
}

.hero {
    position: relative;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* Background image */

    /* Background color with opacity 0.69 */
    background: #D0D0D0 !important;


    backdrop-filter: blur(5px);
    overflow: hidden;
}

.hero-text-content-container {
    width: 644px;
    padding: 24px 60px;
    gap: 20px;

    position: absolute;
    top: 149px;

    /* Correct gradient OR use solid RGBA */
    background: rgba(255, 255, 255, 0.45);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(6px);

}


.align-container {

    height: 100%;
    width: 100%;
}

.hero-text-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero-heading {
    font-weight: 800;
    font-size: 16px;
    line-height: 1.1;
}

.hero-subheading {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.3;
    color: #4e4e4e;
}
.orange-text{
    color: #f58420;
    font-size: 16px;
    font-weight: 600;
}
.hero-btn {
    width: 193px;
    height: 38px;
    padding: 8px 12px;
    border-radius: 50px;
    margin-top: 20px;
    background: #f8943f;
    border: 1px solid #de6f0d;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    color: #ffffff;
    cursor: pointer;
}

.hero-man-image {
    position: absolute;
    top: 0px;
    left: 408px;
    width: 314px;
    height: 506px;
}

/* RIGHT FORM */

.hero-right-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 24px 40px;
    border: 1px solid #ffe0c4;
    background: #ffffff;
}

.hero-right-text-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hero-right-heading {
    color: #303030;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.3;
}

.hero-right-para {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    color: #474747;
}

.hero-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
}

.hero-input {
    width: 100%;
    max-width: 393px;
    height: 38px;
    padding: 14px 16px;
    border: 1px solid #ffe0c4;
    border-radius: 24px;
    background: transparent;
    color: #000;
}

.hero-checkbox {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.hero-checkbox input {
    margin-top: 2px;
}

.checkbox-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    color: #000000;
}

.checkbox-span {
    text-decoration: underline;
    color: #303030;
}

.hero-form-btn {
    max-width: 393px;
    height: 38px;
    padding: 14px 16px;
    border-radius: 24px;
    border: none;
    background: #f58420;
    color: #ffffff;
    cursor: pointer;
}

/* HERO PALLET */

.hero-pallet-container {
    display: flex;
    gap: 40px;
    margin: 12px 0;
    overflow-x: auto;
    align-items: center;
}

.pallet-card {
    display: flex;
    gap: 10px;
    align-items: center;
}

.pallet-icon {
    width: 30px;
    height: 30px;
}

.pallet-text {
    color: #f58420;
    font-size: 14px;
    font-weight: 700;
}

.pallet-span {
    color: #000;
}

/* COMMON SECTION CONTAINER */

.root-canel-container {
    display: flex;
    flex-direction: column;
    padding: 30px 60px;
    margin-top: 30px;
}

.root-canal-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
}

.root-canal-heading {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
    color: #1a1a1a;
}

.root-canal-para {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.3;
    color: #474747;
}

/* ROOT CANAL CARDS */

.root-canal-cards-container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.root-canal-card-container {
    display: flex;
    width: 50%;
    border-radius: 20px;
    border: 1px solid #ffe0c4;
    overflow: hidden;
}

.root-card-image {
    width: 50%;
    height: auto;
    border-radius: 20px 0 0 20px;
}

.root-canal-card-text-container {
    width: 50%;
    padding: 16px 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.root-card-heading {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.3;
    color: #000000;
}

.root-card-para {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    color: #474747;
}

.list-container {
    margin-top: 20px;
}

.unorder-list-container {
    list-style-type: disc;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 14px;
}

.list-item {
    color: #474747;
}

.root-canal-btn-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 20px;
}

.root-btn-heading {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.3;
    color: #f58420;
}

.root-btn-para {
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    color: #1a1a1a;
}

.root-canal-btn {
    margin-top: 20px;
    padding: 8px 20px;
    border: none;
    border-radius: 50px;
    background: #f58420;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
}

/* REAL SMILES */

.sample-cards-container {
    display: flex;
    margin-top: 16px;
    justify-content: space-between;
    gap: 32px;
}

.sample-card-container {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.sample-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 12px;
}

.name-loc-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    margin-top: 8px;
}

.cos-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.3;
    color: #1a1a1a;
}

.cos-location {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    color: #f58420;
}

/* WHY CHOOSE */

.why-choose-container {
    display: flex;
    padding: 50px;
    gap: 40px;
}

.why-choose-text-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 60%;
}

.why-choose-left-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    padding-right: 30px;
}

.why-choose-left-text {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.3;
    color: #1a1a1a;
}

.plus-image {
    width: 16px;
    height: 16px;
}

.why-choose-image {
    width: 40%;
    height: 400px;
    border-radius: 12px;
    object-fit: cover;
}

/* PATIENTS CARDS */

.cards-container {
    display: flex;
    gap: 20px;
    margin-top: 32px;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 200px;
}

.demo-gif {
    width: 100%;
    height: 250px;
    border-radius: 12px;
    object-fit: cover;
}

.card-text-container {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.location {
    color: #777777;
    font-size: 14px;
    font-weight: 600;
}

/* BOOK FORM */

.book-form-container {
    display: flex;
    flex-direction: column;
    padding: 30px 60px;
    margin-top: 30px;
    background-color: #fff9f4;
    gap: 20px;
    text-align: center;
}

.input-container {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    margin-top: 20px;
}


.footer {
    display: flex;
    padding: 20px 30px;
    background-color: #462512;
    justify-content: space-between;
}

.footer-text-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 60%;
    text-align: left;
    align-self: flex-end;
    align-items: flex-end;
}

.footer-divider {
    border: none;
    border-top: 1px solid #e0e0e0;
    margin: 16px 0;
    width: 100%;
}

.footer-links {
    display: flex;
    gap: 24px;
    align-items: center;
}

.footer-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    opacity: 0.85;
    transition: 0.3s ease;
}



/* Bottom Text */
.footer-bottom-text {
    text-align: center;
    font-size: 13px;
    opacity: 0.85;
    line-height: 1.5;
    color: #ffffff;
}

.footer-logo {
    width: 140px;
    /* Adjusted to match screenshot size */
    height: auto;
}

.footer-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* =========================================================
   RESPONSIVE DESIGN – MOBILE FIRST
   ========================================================= */

/* ==========================================
   RESPONSIVE SECTION — YOUR ORIGINAL + FIXED
=========================================== */

/* ---------- Small Devices (max-width: 768px) ---------- */
@media (max-width: 768px) {
    .navbar-button {
        padding: 3px 6px;
        font-size: 12px;
    }
    

    .main{
        display: block;
    }
    .footer-links {
        flex-direction: column;
    }

    /* NAVBAR */
    .navbar-container {
        gap: 10px;
        text-align: center;
    }

    .logo-image {
        width: 90px;
    }

    .book-appointment-btn-navbar {
        background: #f8943f;
        border-color: #de6f0d;
        color: #ffffff;
        display: none;
    }

    .navbar-right {
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        gap: 12px;
    }

    /* HERO */
    .upper-hero-container {
        flex-direction: column;
        height: auto;
        gap: 20px;
    }

    .hero-content {
        width: 100%;
        height: 350px;
        background-position: top;
        justify-content: flex-start;
    }

    .hero-content::before {
        backdrop-filter: blur(14px);
        /* same blur */
    }

    .hero-text-content-container {
        width: 100%;
        padding: 20px;
    }

    .hero-heading {
        font-size: 22px !important;
    }

    .hero-subheading {
        font-size: 16px;
    }

    .hero-man-image {
        width: 216px;
        height: auto;
        right: 0;
        left: auto;
        top: 100px;
        position: absolute;
    }

    /* RIGHT FORM */
    .hero-right-container {
        width: 100%;
        padding: 20px;
    }

    /* HERO PALLET */
    .hero-pallet-container {
        flex-direction: row;
        overflow-x: auto;
        gap: 16px;
    }

    /* ROOT CANAL */
    .root-canel-container,
    .book-form-container {
        padding: 20px;
    }

    .root-canal-cards-container {
        overflow-x: auto;

    }

    .root-canal-card-container {
        flex-direction: column;
        width: 100%;
    }

    .root-card-image,
    .root-canal-card-text-container {
        width: 100%;
    }

    /* REAL SMILES */
    .sample-cards-container {
        gap: 20px;
        overflow-x: auto;
    }

    .sample-card-container {
        width: 100%;
    }

    .sample-image {
        max-width: 100%;
    }

    /* WHY CHOOSE */
    .why-choose-container {
        flex-direction: column;
        padding: 20px;
    }

    .why-choose-text-container {
        width: 100%;
    }

    .why-choose-image {
        width: 100%;
    }

    .why-choose-left-container {
        padding-right: 0;
    }

    /* PATIENT CARDS: FIXED TO HORIZONTAL */
    .cards-container {
        flex-direction: row !important;
        overflow-x: auto !important;
        gap: 16px;
    }

    .card {
        width: 260px !important;
    }

    /* BOOK FORM */
    .input-container {
        flex-direction: column;
        gap: 16px;
    }

    .checkbox-container {
        justify-content: flex-start;
        flex-direction: column;
    }

    /* FOOTER */
    .footer {
        flex-direction: row;
        padding: 20px;
        text-align: center;
        gap: 20px;
    }

    .footer-links{
        width: 100%;
        align-items: flex-end;
        gap: 0px;
    }

    .footer-left {
        justify-content: center;
    }

    .footer-text-container {
        width: 100%;
        align-items: center;
        text-align: center;
        gap: 3px;
    }

    .footer-links {
        justify-content: center;
        flex-wrap: wrap;
        gap: 0px;
    }
}

/* ---------- Medium Devices (max-width: 1024px) ---------- */
@media (max-width: 1024px) {

    .upper-hero-container {
        flex-direction: column;
        height: auto;
    }


    .main{
        display: none;
    }

    .hero-content {
        width: 100%;
        height: 450px;
    }

    .hero-text-content-container {
        width: 70%;
        padding: 24px 30px;
    }

    .hero-right-container {
        width: 100%;
        padding: 20px;
    }

    .root-canel-container {
        padding: 30px 30px;
    }

    .why-choose-container {
        flex-direction: column;
    }

    .why-choose-image {
        width: 100%;
    }

    .sample-card-container {
        width: 50%;
    }

    /* FIX CARDS INTO HORIZONTAL ONLY */
    .cards-container {
        flex-direction: row !important;
        overflow-x: auto !important;
        flex-wrap: nowrap !important;
    }
}

/* ---------- Extra Small (max-width: 480px) ---------- */
@media (max-width: 480px) {
    .logo-image {
        width: 60px;
    }
    .main{
        display: none;
    }

    .hero-content{
        display: none;
    }

    .hero-content-mobile{
        display: block;
    }

    .navbar-menu-icon {
        width: 13px;
        height: 15px;
    }

    .navbar-button {
        padding: 3px 6px;
        font-size: 10px;
    }

    .hero-heading {
        font-size: 20px !important;
    }

    .book-appointment-btn-navbar {
        background: #f8943f;
        border-color: #de6f0d;
        color: #ffffff;
        display: none;
    }

    .hero-btn {
        width: 100%;
    }

    .hero-man-image {
        width: 70%;
    }

    .pallet-card {
        justify-content: center;
    }

    .footer-bottom-text {
        font-size: 12px;
    }
}